.App {
  text-align: center;
  background-color: #262626;
  width: 100vw;
  min-height: 100vh;
}
.stop-watch {
  min-height: 100vh;
}
.titleArea {
  border-width: 2px;
  border-color: blue;
  width: 200px;
}
